backend/service.wsdl

<definitions name="LoanService"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://example.com/LoanService/"
  targetNamespace="http://example.com/LoanService/">

  <!-- Mensajes para las Operaciones de Préstamos -->
  <message name="CreateLoanRequest">
    <part name="userId" type="xsd:int"/>
    <part name="bookId" type="xsd:int"/>
    <part name="loanDate" type="xsd:string"/>
    <part name="returnDate" type="xsd:string"/>
  </message>
  <message name="CreateLoanResponse">
    <part name="success" type="xsd:boolean"/>
    <part name="loanId" type="xsd:int"/>
    <part name="message" type="xsd:string"/>
  </message>

  <message name="ReturnLoanRequest">
    <part name="loanId" type="xsd:int"/>
  </message>
  <message name="ReturnLoanResponse">
    <part name="success" type="xsd:boolean"/>
    <part name="message" type="xsd:string"/>
    <part name="fine" type="xsd:float"/>
  </message>

  <!-- Mensajes para Operaciones de Reportes -->
  <message name="GetActiveLoansRequest">
    <part name="filter" type="xsd:string"/> <!-- Opcional: filtros -->
  </message>
  <message name="GetActiveLoansResponse">
    <part name="success" type="xsd:boolean"/>
    <part name="loans" type="xsd:string"/> <!-- JSON serializado o XML -->
    <part name="message" type="xsd:string"/>
  </message>

  <message name="GetUserLoanHistoryRequest">
    <part name="userId" type="xsd:int"/>
  </message>
  <message name="GetUserLoanHistoryResponse">
    <part name="success" type="xsd:boolean"/>
    <part name="history" type="xsd:string"/> <!-- JSON serializado o XML -->
    <part name="message" type="xsd:string"/>
  </message>

  <!-- Mensajes para Obtener todos los Préstamos -->
  <message name="GetAllLoansRequest">
    <part name="filter" type="xsd:string"/> <!-- Opcional: filtros -->
  </message>
  <message name="GetAllLoansResponse">
    <part name="success" type="xsd:boolean"/>
    <part name="loans" type="xsd:string"/> <!-- JSON serializado o XML -->
    <part name="message" type="xsd:string"/>
  </message>

  <!-- PortType -->
  <portType name="LoanPort">
    <operation name="CreateLoan">
      <documentation>Crea un nuevo préstamo para un usuario.</documentation>
      <input message="tns:CreateLoanRequest"/>
      <output message="tns:CreateLoanResponse"/>
    </operation>
    <operation name="ReturnLoan">
      <documentation>Registra la devolución de un préstamo.</documentation>
      <input message="tns:ReturnLoanRequest"/>
      <output message="tns:ReturnLoanResponse"/>
    </operation>
    <operation name="GetActiveLoans">
      <documentation>Obtiene la lista de préstamos activos.</documentation>
      <input message="tns:GetActiveLoansRequest"/>
      <output message="tns:GetActiveLoansResponse"/>
    </operation>
    <operation name="GetUserLoanHistory">
      <documentation>Obtiene el historial de préstamos de un usuario específico.</documentation>
      <input message="tns:GetUserLoanHistoryRequest"/>
      <output message="tns:GetUserLoanHistoryResponse"/>
    </operation>
    <operation name="GetAllLoans">
      <documentation>Obtiene todos los préstamos registrados, tanto activos como inactivos.</documentation>
      <input message="tns:GetAllLoansRequest"/>
      <output message="tns:GetAllLoansResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="LoanBinding" type="tns:LoanPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateLoan">
      <soap:operation soapAction="http://example.com/LoanService/CreateLoan" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ReturnLoan">
      <soap:operation soapAction="http://example.com/LoanService/ReturnLoan" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetActiveLoans">
      <soap:operation soapAction="http://example.com/LoanService/GetActiveLoans" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetUserLoanHistory">
      <soap:operation soapAction="http://example.com/LoanService/GetUserLoanHistory" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetAllLoans">
      <soap:operation soapAction="http://example.com/LoanService/GetAllLoans" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- Servicio -->
  <service name="LoanService">
    <port name="LoanPort" binding="tns:LoanBinding">
      <soap:address location="http://localhost:3000/loanService"/>
    </port>
  </service>
</definitions>
